#body
{
    background-color: rgb(141, 140, 140);
position: relative;
left: 8%;
width: 80% ;
}
.header
{
    background-color: dodgerblue;
}
.ffe
{
    text-align: right;
    text-decoration: underline;
}
.left-right
{
    background-color: orange;
    text-indent:15px;
}
.center
{
    background-color: rgb(214, 214, 214);
}
.main
{
    display: flex;
}
.header
{
    display: flex;
}
.image
{
    flex: 1;
}
.github-href
{
    text-decoration: none;
    color: black;
}
